@import 'colors';
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #444;
}
nav{
    text-transform: uppercase;
    
    a, i{
        color: $white;
    }
    a:hover{
        color: $blue-color;
    }
    .fa-bars{
        padding: 10px;
    }
    .navbar-brand{
        font-weight: bold;
    }
    .active{
        color: $blue-color;
    }
}

header{
    color:  $white;
    h1{
        text-transform: uppercase;
    }
    .hero-img{
        height: 100vh;
        background-image: url(../img/playstation-g08299aa28_640.jpg);
        background-position: center;
        background-size: cover;
    }
}
